<h1> liste des voitures </h1>
<table border="1">
    <tr>
        <td>Serie</td>
        <td>marche</td>
        <td>modele</td>
        <td>prix</td>
        <td>mark</td>

    </tr>
    {% for v in listeVoiture %}
    <tr>
        <td>{{ v.serie }}</td>
        <td>{{ v.marche}}</td>
        <td>{{ v.modele }}</td>
        <td>{{ v.prix}}</td>
        <td>{{ v.mark.libelle | default("") }}</td>

        <td><a href="{{ path ("voitureDelete",{'id':v.id}) }}">Supprimer</a></td>
        <td><a href="{{ path ("voitureUpdate",{'id':v.id}) }}">Maj</a></td>

    </tr>
    {% endfor %}
</table>